@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@200&family=Rubik+Maps&display=swap');

:root {
    --color: blue;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(255, 47, 0);
}


body {
    background-color: rgb(182, 205, 181);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.container{
    .container{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
.card {
    display: inline-block;
    background-color: white;
    width: 342px;
    /* height: 444px; */
    padding: 4px 3px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 1px 1px rgba(0, 0, 0, 0.358);


}


.img img {
    border-radius: 14px;
    width: 330px;
    height: 222px;
    padding: 6px;
}


.content {
    font-family: poppins;
    text-align: center;
    margin: 20px 0px;
}

.button {
    text-align: center;
}
.button button:hover{
    background-color: rgb(115, 199, 248);
}
.button button {
    border: none;
    background-color: rgb(147, 210, 247);
    border-radius: 10px;
    padding: 6px 10px;
    align-items: center;
    color: blue;
    font-size: 10px;
    font-weight: bold;

}

.button button a {
    text-decoration: none;
    border-color: none;

}
